[submodule "ur_modern_driver"]
	path = ur_modern_driver
	url = https://github.com/plusone-robotics/ur_modern_driver.git
[submodule "src/ur_modern_driver"]
	path = src/ur_modern_driver
	url = git@github.com:plusone-robotics/ur_modern_driver.git
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/fmauch/universal_robot.git
[submodule "src/--force"]
	path = src/--force
	url = git@github.com:ros-industrial/universal_robot.git
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = git@github.com:ros-industrial/universal_robot.git
